body {
  background-color: #081f28;
  color: #708284;
  font-family: 'Helvetica Neue';
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  float: left;
}

a {
  color: #2076c7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  padding-top: 20px;
  text-align: right;
  font-style: italic;
  font-weight: normal;
  float: right;
}

h3 {
  font-size: 2.6em;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

header span {
  font-size: 0.5em;
  font-weight: normal;
}

nav ul {
  margin: 0;
  padding: 6px 0 0 3px;
}

nav li {
  list-style: none;
  display: inline;
  padding-right: 12px;
  font-weight: bold;
  font-size: 0.9em;
}

br {
  clear:both;
}

.wrap {
  width: 960px;
  margin: 20px auto 0 auto;
}

header {
  border-top: 4px solid #708284;
  padding: 4px 0 12px 0;
}

article header {
  border-top: 2px solid #708284;
}

.left {
  float: left;
  width: 460px;
  margin-right: 20px
}

.right {
  float: left;
  width: 460px;
  margin-left: 20px;
}

pre {
  border-radius: 2px;
  background-color: #03262f;
  padding: 6px;
  color: #819090;
  margin-left: 8px;
}

p {
  line-height: 1.4em;
}

article {
  margin-top: 40px;
}

pre .keyword, pre .special {
  font-weight: bold;
  color: #2076c7
}

pre .string, pre .regexp {
  color: #728a06
}

pre .class { 
  color: #A57707;
}

pre .number {
  color: #D11c24
}

pre .comment {
  color: grey;
  font-style: italic;
}
