<html>
  <head>
    <script src="/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="/deferred.js" type="text/javascript" charset="utf-8"></script>
    <script src="/document.js" type="text/javascript" charset="utf-8"></script>
    <script src="/store.js" type="text/javascript" charset="utf-8"></script>
    <script src="/index.js" type="text/javascript" charset="utf-8"></script>

    <script>
      var original = {
        title: "Testing IndexedDB Text Search",
        body: "This is a quick demo of how to use IndexedDB full text search!"
      }
    </script>
  </head>
  <body></body>
</html>